<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Animation</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  <div class="container">
  <div class="home" id="hom">
    <div class="logo_and_navi">
      <div class="logo"><a href ="/about" src=""><span class="logo_image">Daniil Glazov</span></a></div>
      <div class="navi">
      <a href="#hom" class="nav-link"> <span class="navi_active">Home</span></a>
      <a href="#about" class="nav-link"><span>About Me</span></a>
      <a href="#core" class="nav-link"><span>Core Skills</span></a>
        <a href="#proj" class="nav-link"><span>Projects</span></a>
          <a href="#cont" class="nav-link"> <span>Contact</span></a>
     </div>
   </div>
    <div class="intro">
     <div class="intro_hello">
        <div class="intro_text">
         <span class="intro_text_top poppins-extralight">Hello, I'm <span class="my_name">Daniil Glazov</span></span>
         <span class="intro_text_mid">Fullstack Front-End Developer</span>
         <span class="intro_text_bot poppins-extralight">Bringing <span>creative</span> and <span>efficient</span> solutions for life</span>
          <div class="intro_buttons">
             <a href="#about"><div class="about_me_btn">
                <button type="button" class="btn poppins-extralight">
                  <span></span>
                 <span></span>
                 <span></span>
                  <span></span>
                 About Me
                </button>
              </div></a>
              <a href="#proj"> <div class="projects_btn">
               <button type="button" class="btn poppins-extralight">
                 <span></span>
                 <span></span>
                 <span></span>
                  <span></span>
                  Projects
                </button>
              </div></a>
          </div>
          </div>
      </div>
      <div class="intro_photo">
        <div class="circle">
         <div class="mine_photo"></div>
       </div>
      
      </div>
   </div>
   </div>
  <div class="about_me"></div>
  <div class="projects"></div>
  <div class="contact"></div>
  </div>

  <div class="container">
    <div class="about_me_block" id="about">
     <h3 >About me:</h3>
      <p class="about_me_description">
       <span class="spaces"></span> Hi, I'm Daniil - Fullstack Front-End Developer. 
        Most of my work has been in freelance, but I'm ready to collaborate with serious players in the IT market.
        As a Fullstack Front-End Developer, 
        My skills include HTML, CSS, JavaScript, React, and Node.js, among others. I pride myself on delivering high-quality code and innovative solutions tailored to the needs of my clients.
     </p>
     <div class="add_block">
        <div class="exp_years"><span>1+</span>
       </div>
        <div class="exp_about">
          <span>year of experience working remotely on various projects. 
                Specialized in creating seamless user experiences, 
                developing responsive and interactive websites, and ensuring high performance and scalability.
         </span>
       </div>
        </div>
        </div>
   </div>
   <div class="container">
    <h3 id="core">Core skills:</h3>
    <!--CORE SKILLS BLOCK START-->
      <div class="core_skills_block">
        
        <div class="box">
          <div class="content">
            <h2>01</h2>
            <h3>JavaScript (ES6+):</h3>
            <p>Proficient in using modern JavaScript syntax, including let/const, arrow functions, template literals, destructuring, and asynchronous functions (async/await).</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>02</h2>
            <h3>Frontend Frameworks:</h3>
            <p>Experienced with popular libraries and frameworks such as React, Angular, or Vue.js. Knowledgeable in their core functionalities, principles, and capabilities.</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>03</h2>
            <h3>HTML5 & CSS3:</h3>
            <p>Skilled in HTML5 for structuring web pages and CSS3 for styling. Capable of using Flexbox, Grid, and CSS preprocessors (e.g., SASS or LESS).</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>04</h2>
            <h3>Responsive Design:</h3>
            <p>Ability to create responsive web designs that adapt to various devices and screen sizes.</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>05</h2>
            <h3>Web Performance Optimization:</h3>
            <p>Experience in enhancing web page performance through techniques such as file size reduction, caching, and image optimization.</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>06</h2>
            <h3>Version Control (Git):</h3>
            <p>Proficient in using Git for version control, including branch creation, merging changes, and managing repositories on GitHub or GitLab.</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>07</h2>
            <h3>RESTful APIs:</h3>
            <p>Knowledgeable in working with RESTful APIs, including making server requests, handling responses, and integrating with backend services.</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>08</h2>
            <h3>WebSockets:</h3>
            <p>Experience with WebSockets for implementing real-time two-way communication between clients and servers, such as in chat applications.</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>09</h2>
            <h3>Testing:</h3>
            <p>Understanding of web application testing principles, including using frameworks for unit testing (e.g., Jest) and integration testing.</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>10</h2>
            <h3>Build Tools:</h3>
            <p>Experience with build tools for automation, such as Webpack, Babel, or Gulp.</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>11</h2>
            <h3>Package Managers:</h3>
            <p>Proficient in using package managers like npm or yarn for managing project dependencies.</p>
            
          </div>
        </div>

        <div class="box">
          <div class="content">
            <h2>12</h2>
            <h3>Node.js:</h3>
            <p>The Advanced skills of Node.js for building server-side applications, integrating with databases, and handling requests.</p>
            
          </div>
        </div>

      </div>
       <!--CORE SKILLS BLOCK END-->
       <h3 id="proj">Own Projects:</h3>
       <!--START PROJECTS-->
       <div class="projects">
        
        <div class=" box-projects">
          <div class="img-project-block">
          <img src="images/personal_blog.png" alt="Personal Blog" class="gif-image">
          </div>
          <div class="content content-projects">
            <h2>01</h2>
            <h3> Personal Blog for designers</h3>
            
            
          </div>
        </div>

        <div class=" box-projects">
          <div class="img-project-block">
          <img src="images/personal_blog.png" alt="Personal Blog" class="gif-image">
          </div>
          <div class="content content-projects">
            <h2>02</h2>
            <h3> WebChat via WebSocket</h3>
            
            
          </div>
        </div>

        <div class=" box-projects">
          <div class="img-project-block">
          <img src="images/personal_blog.png" alt="Personal Blog" class="gif-image">
          </div>
          <div class="content content-projects">
            <h2>03</h2>
            <h3> Landing Page</h3>
          </div>
        </div>
       </div>
       <!--END PROJECTS-->
       <div class="contact">
        <h3 id="cont">Contact:</h3>
        <div class="social_network">
          <ul class="container">
           
            
            
            <li><a href="https://www.linkedin.com/in/daniil-glazov-75a122137/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/dvhlazov"><i class="fa fa-github"></i></a></li>
            <li><a href="https://api.whatsapp.com/send/?phone=380957010507&text&type=phone_number&app_absent=0"><i class="fa fa-whatsapp"></i></a></li>
            <li><a href="#"><i class="fa fa-viber"></i></a></li>
            <li><a href="https://www.facebook.com/daniil.glazov/"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="contact_info">
          <div class="email">
            <span>Email: <span class="cntc_pad">dvhlazov@gmail.com</span></span>
          </div>
          <div class="contact_nmber">
            <span>
              Phone number: <span class="cntc_pad">+38(095)-701-05-07</span>
            </span>
          </div>
        </div>
       </div>
   </div>
      
    
  




    <script src="./script/main.js"></script>
</body>
</html>